*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "TT Norms Pro Regular";
  background-color: #161616;
}

@font-face {
  font-family: "TT Norms Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/TT-Norms-Regular.woff2") format("woff2"), url("../fonts/TT-Norms-Regular.woff") format("woff");
}
.container {
  width: 1739px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #fff;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item:first-child {
  display: flex;
  align-items: center;
}
.header__box {
  margin-right: 6px;
  width: 31px;
  height: 31px;
  background: #FFFFFF;
  border: 3px solid #EB0C0C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__box--intro {
  width: 17px;
  height: 17px;
  background-color: #EB0C0C;
}
.header__text {
  font-size: 20px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.header__phone--link {
  padding: 14px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  background: #ED111D;
  border-radius: 5px;
  color: #fff;
}

.intro {
  position: relative;
  padding: 96px 0 65px;
  background-color: #fff;
}
.intro::after {
  position: absolute;
  width: 21px;
  height: 206px;
  content: "";
  background-image: url("/img/sichqoncha_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(900px) translateY(-70px);
}
.intro__item:nth-child(2) {
  display: flex;
}
.intro__item:nth-child(4) {
  margin-bottom: 198px;
}
.intro__text--creativno {
  margin-left: 87px;
  background-image: url("/img/kreativno_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 150px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.intro__text--marketing {
  background-image: url("/img/marketing_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 150px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.intro__text--agentsva {
  margin-left: 616px;
  background-image: url("/img/agenstvo_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 150px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.intro__text--smart {
  margin-left: 177px;
  padding-top: 13px;
  width: 167px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.intro__text--discription {
  width: 545px;
  margin-left: 1125px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.intro__text--btn {
  position: relative;
  padding: 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: rgba(0, 0, 0, 0.6);
}
.intro__text--btn--icon {
  position: absolute;
  transform: translateY(-7px) translateX(-18px);
  width: 40px;
  height: 40px;
  border: 2px solid rgba(237, 17, 29, 0.7);
  border-radius: 50%;
}
.intro__message--icon {
  position: fixed;
  top: 730px;
  right: 100px;
}
.intro__icon--box {
  margin-left: 453px;
  max-height: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.intro__icon--box img {
  opacity: 0.5;
}
.intro__icon--box img:hover {
  opacity: 1;
}

.price {
  padding: 179px 0;
}
.price__intro--header {
  height: 50px;
  display: flex;
  align-items: center;
}
.price__intro--icon {
  margin-right: 23px;
  width: 25px;
  height: 50px;
  transition: 0.5s;
}
.price__intro--icon:hover {
  transform: rotate(360deg);
}
.price__intro--title {
  font-weight: bold;
  font-size: 26px;
  line-height: 100.52%;
  color: #FF6B6B;
  cursor: pointer;
  transition: 0.5s;
}
.price__intro--title:hover {
  color: #FF0000;
  transform: scale(1.1);
}
.price__title {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}
.price__title--btn {
  padding: 16px 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 100.52%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FF0000;
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(0.9);
}
.price__title--btn:hover {
  opacity: 1;
  transform: scale(1);
}
.price__box {
  margin-top: 142px;
  display: flex;
  flex-wrap: wrap;
}
.price__box--item {
  margin-right: 179px;
  margin-bottom: 72px;
}
.price__box--item:nth-child(2n) {
  margin-right: 0;
}
.price__box--fieldset {
  padding: 40px 0 90px 62px;
  width: 770px;
  font-weight: 500;
  font-size: 20px;
  line-height: 151.02%;
  color: #FFFFFF;
}
.price__box--legend {
  display: flex;
  align-items: center;
  list-style-type: disc;
  font-weight: bold;
  font-size: 26px;
  line-height: 100.52%;
  color: #FFFFFF;
}
.price__box--text {
  width: 560px;
  height: 180px;
  color: rgba(255, 255, 255, 0.7);
}
.price__box--subbox {
  margin-top: 22px;
  width: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: #FFFFFF;
}
.price__box--btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.price__box--btn:hover {
  transform: scale(1.05);
}
.price__box--disk {
  margin: 0 14px 0 11px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.about {
  margin-bottom: 168px;
}
.about__img {
  position: relative;
  width: 1276px;
  height: 851px;
}
.about__box {
  margin-top: 144px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.about__arraybox {
  position: absolute;
  display: flex;
  height: 50px;
  transform: translateY(-114px) translateX(1137px);
}
.about__array {
  width: 78px;
}
.about__ellips {
  transform: translateX(-30px);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}
.about__eye {
  position: absolute;
  top: -140px;
  right: 0;
}
.about__text {
  top: 209px;
  left: 0;
  position: absolute;
  width: 1000px;
  font-weight: bold;
  font-size: 50px;
  line-height: 173.52%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__text--red {
  color: #FF0000;
}
.about__subtext {
  margin-top: 12px;
  display: block;
  text-align: right;
  font-size: 18px;
  line-height: 100.52%;
  color: rgba(255, 255, 255, 0.3);
}

.team {
  margin-bottom: 163px;
}
.team__box {
  max-width: 1723px;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.team__item {
  width: 392px;
}
.team__imgbox {
  width: 363px;
  height: 594px;
  position: relative;
  cursor: pointer;
}
.team__imgbox:hover .team__imghover {
  transform: scale(1);
}
.team__imghover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(87, 87, 87, 0.79);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transform: scale(0);
}
.team__imghover--text {
  padding: 51px 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156.02%;
  color: #FFFFFF;
  border: 2px solid #B1ACAC;
  border-radius: 50%;
}
.team__img {
  width: 363px;
  height: 594px;
}
.team__title {
  margin-top: 13px;
  font-weight: bold;
  font-size: 26px;
  line-height: 156.02%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.team__text {
  font-weight: bold;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
}

.partner {
  padding-top: 22px;
  background-color: #fff;
}
.partner__menu {
  padding: 56px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog {
  padding-bottom: 339px;
  margin-top: 177px;
}
.blog__menu {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.blog__item {
  width: 700px;
}
.blog__title {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
}
.blog__discription {
  min-height: 208px;
  font-weight: bold;
  font-size: 40px;
  line-height: 130.52%;
  color: #FFFFFF;
}
.blog__btn {
  margin-left: 419px;
  margin-top: 38px;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.blog__numbers {
  width: 300px;
  margin: 0 auto;
  margin-top: 123px;
  display: flex;
  align-items: center;
  position: relative;
}
.blog__numbers--text {
  margin-right: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 156.02%;
  color: #fff;
}
.blog__numbers--btn {
  padding: 13px 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
}
.blog__numbers--line {
  position: absolute;
  height: 0;
  width: 15px;
  border-radius: 8px;
  background-color: #FFFFFF;
  bottom: -4px;
  border: 5px solid #FFFFFF;
}

.contact {
  width: 1140px;
  margin: 0 auto;
  margin-top: 190px;
  padding: 53px 83px 83px 40px;
  background: #161616;
  border: 2px solid rgba(107, 107, 107, 0.5);
  border-radius: 3px;
}
.contact__title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: #FFFFFF;
}
.contact__box {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.contact__aside {
  width: 400px;
}
.contact__bside {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact__input {
  padding: 14px 0 10px;
  width: 376px;
  background-color: #161616;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
}
.contact__textarea {
  margin-bottom: 10px;
  width: 484px;
  height: 245px;
  background-color: #161616;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
  resize: none;
  outline: none;
}
.contact__line {
  margin-bottom: 40px;
}
.contact__btn {
  margin-top: 78px;
  width: 160px;
  padding: 13px 29px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  opacity: 0.7;
  background-color: white;
}
.footer__wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  transform: translateY(-20px);
  width: 189px;
  height: 100px;
}
.footer__icon {
  margin-right: 13px;
  width: 35px;
  height: 32.5px;
}
.footer__icon--box {
  margin: 0 0 24px;
  display: flex;
}
.footer__title {
  width: 492px;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}
.footer__contact--item:first-child {
  margin-bottom: 32.6px;
}
.footer__contact--item:nth-child(2) {
  margin-bottom: 28px;
}
.footer__contact--title {
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.8);
}
.footer__contact--link {
  font-weight: normal;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.5);
}
.footer__link {
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}
.footer__link--box li {
  margin-bottom: 14px;
}
.footer__bottom {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.8);
}/*# sourceMappingURL=main.css.map */