*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "TT Norms Pro Regular";
  background-color: #161616;
}

@font-face {
  font-family: "TT Norms Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/TT-Norms-Regular.woff2") format("woff2"), url("../fonts/TT-Norms-Regular.woff") format("woff");
}
.container {
  width: 1739px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #fff;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item:first-child {
<<<<<<< HEAD
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__item:first-child:hover .header__box {
  margin-right: 3px;
  width: 37px;
  height: 37px;
=======
  display: flex;
  align-items: center;
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}
.header__box {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 6px;
  width: 31px;
  height: 31px;
  background: #FFFFFF;
  border: 3px solid #EB0C0C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__box--intro {
  width: 17px;
  height: 17px;
  background-color: #EB0C0C;
}
.header__text {
  font-size: 20px;
  line-height: 100.52%;
  text-transform: uppercase;
}
<<<<<<< HEAD

.header__phone--icon {
  display: none;
}

=======
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
.header__phone--link {
  padding: 12px 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  background: #ED111D;
  border: 2px solid #ED111D;
  border-radius: 5px;
  color: #fff;
}

.header__phone--link:hover {
  background-color: #fff;
  color: #ED111D;
}

@media screen and (max-width: 560px) {
  .header__item:last-child {
    width: 100px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__box {
    width: 28px;
    height: 28px;
  }
  .header__box--intro {
    width: 15px;
    height: 15px;
  }
  .header__logo {
    width: 115px;
    height: 66px;
  }
  .header__phone--icon {
    display: inline-block;
  }
  .header__phone--link {
    display: none;
  }
}

.intro {
  position: relative;
  padding: 96px 0 65px;
  background-color: #fff;
}
<<<<<<< HEAD

.intro__container::after {
  position: absolute;
  width: 21px;
  height: 206px;
  content: '';
=======
.intro::after {
  position: absolute;
  width: 21px;
  height: 206px;
  content: "";
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
  background-image: url("/img/sichqoncha_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(900px) translateY(-70px);
}
.intro__item:nth-child(2) {
  display: flex;
}
.intro__item:nth-child(4) {
  margin-bottom: 198px;
}
.intro__text--creativno {
<<<<<<< HEAD
  margin-left: 5%;
=======
  margin-left: 87px;
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
  background-image: url("/img/kreativno_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 150px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.intro__text--marketing {
  background-image: url("/img/marketing_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 150px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.intro__text--agentsva {
<<<<<<< HEAD
  margin-left: 36%;
=======
  margin-left: 616px;
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
  background-image: url("/img/agenstvo_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 150px;
  line-height: 100.52%;
  text-transform: uppercase;
}
.intro__text--smart {
  margin-left: 10%;
  padding-top: 13px;
  width: 167px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.intro__text--discription {
  width: 545px;
  margin-left: 58%;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.intro__text--btn {
  position: relative;
  padding: 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: rgba(0, 0, 0, 0.6);
}
.intro__text--btn--icon {
  position: absolute;
  transform: translateY(-7px) translateX(-18px);
  width: 40px;
  height: 40px;
  border: 2px solid rgba(237, 17, 29, 0.7);
  border-radius: 50%;
}
.intro__message--icon {
  position: fixed;
  z-index: 9;
  top: 730px;
  right: 100px;
}
.intro__icon--box {
  margin-left: 26%;
  max-height: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.intro__icon--box img {
  opacity: 0.5;
}
.intro__icon--box img:hover {
  opacity: 1;
}

.price {
  padding: 179px 0;
}
.price__intro--header {
  height: 50px;
  display: flex;
  align-items: center;
}
.price__intro--icon {
  margin-right: 23px;
  width: 25px;
  height: 50px;
  transition: 0.5s;
}
.price__intro--icon:hover {
  transform: rotate(360deg);
}
.price__intro--title {
  font-weight: bold;
  font-size: 26px;
  line-height: 100.52%;
  color: #FF6B6B;
  cursor: pointer;
  transition: 0.5s;
}
.price__intro--title:hover {
  color: #FF0000;
  transform: scale(1.1);
}
.price__title {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}
.price__title--btn {
  padding: 16px 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 100.52%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FF0000;
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(0.9);
}
<<<<<<< HEAD

.price__title--btn--active {
=======
.price__title--btn:hover {
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
  opacity: 1;
  transform: scale(1);
}
.price__box {
  margin-top: 142px;
  display: flex;
<<<<<<< HEAD
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
=======
  flex-wrap: wrap;
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}
.price__box--item {
  margin-bottom: 72px;
}
<<<<<<< HEAD

=======
.price__box--item:nth-child(2n) {
  margin-right: 0;
}
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
.price__box--fieldset {
  padding: 40px 0 90px 62px;
  width: 770px;
  font-weight: 500;
  font-size: 20px;
  line-height: 151.02%;
  color: #FFFFFF;
}
.price__box--legend {
  display: flex;
  align-items: center;
  list-style-type: disc;
  font-weight: bold;
  font-size: 26px;
  line-height: 100.52%;
  color: #FFFFFF;
}
.price__box--text {
  width: 560px;
  height: 180px;
  color: rgba(255, 255, 255, 0.7);
}
.price__box--subbox {
  margin-top: 22px;
  width: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: #FFFFFF;
}
.price__box--btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.price__box--btn:hover {
  transform: scale(1.05);
}
.price__box--disk {
  margin: 0 14px 0 11px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 1580px) {
  .price__box--fieldset {
    padding: 20px 0 50px 40px;
    width: 630px;
  }
}

@media screen and (max-width: 1300px) {
  .price__title--btn {
    font-size: 36px;
  }
  .price__box--item {
    margin-bottom: 40px;
  }
  .price__box--text {
    max-width: 376px;
    min-height: 210px;
  }
  .price__box--subbox {
    max-width: 376px;
  }
  .price__box--fieldset {
    padding: 15px 0 30px 20px;
    width: 450px;
  }
}

@media screen and (max-width: 950px) {
  .price {
    padding: 85px 0;
  }
  .price__box {
    margin-top: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__box--item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__box--fieldset {
    width: 80%;
  }
  .price__title {
    margin-top: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__title--btn {
    margin-bottom: 25px;
    border: none;
  }
  .price__title--btn--active {
    border-bottom: 2px solid #FF0000;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .price__intro--title {
    font-size: 16px;
  }
  .price__intro--icon {
    margin-right: 7px;
    width: 11px;
    height: 22px;
  }
  .price__title--btn {
    font-size: 20px;
  }
  .price__box--subbox {
    width: 100%;
  }
  .price__box--text {
    min-height: 300px;
    width: 100%;
  }
  .price__box--legend {
    font-size: 18px;
  }
  .price__box--fieldset {
    padding: 15px 15px 15px 15px;
    width: 100%;
  }
}

.about {
  margin-bottom: 168px;
}
.about__img {
  position: relative;
  width: 1276px;
}
.about__box {
  margin-top: 144px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.about__arraybox {
  position: absolute;
  display: flex;
  height: 50px;
<<<<<<< HEAD
  right: 0;
  bottom: 50px;
=======
  transform: translateY(-114px) translateX(1137px);
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}
.about__array {
  width: 78px;
}
.about__ellips {
  transform: translateX(-30px);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}
.about__eye {
  position: absolute;
  top: -140px;
  right: 0;
}
.about__text {
  top: 209px;
  left: 0;
  position: absolute;
  width: 1000px;
  font-weight: bold;
  font-size: 50px;
  line-height: 173.52%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__text--red {
  color: #FF0000;
}
.about__subtext {
  margin-top: 12px;
  display: block;
  text-align: right;
  font-size: 18px;
  line-height: 100.52%;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1300px) {
  .about__img {
    width: 100%;
  }
  .about__text {
    top: 35%;
    width: 660px;
    font-size: 32px;
  }
  .about__eye {
    width: 300px;
    top: -104px;
  }
}

@media screen and (max-width: 950px) {
  .about__text {
    width: 100%;
    font-size: 24px;
    line-height: 140%;
  }
  .about__arraybox {
    bottom: -53px;
  }
  .about__subtext {
    text-align: left;
  }
  .about__eye {
    top: -87px;
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .about__box {
    margin-top: 77px;
  }
  .about__eye {
    top: -62px;
    width: 180px;
  }
}

@media screen and (max-width: 500px) {
  .about__text {
    font-size: 16px;
  }
  .about__eye {
    top: -40px;
    width: 117px;
  }
  .about__subtext {
    font-size: 11px;
  }
  .about__arraybox {
    height: auto;
    bottom: -32px;
  }
  .about__array {
    width: 40px;
  }
  .about__ellips {
    width: 30px;
    height: 30px;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
}

.team {
  margin-bottom: 163px;
}
.team__box {
  max-width: 1723px;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
<<<<<<< HEAD
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
=======
  justify-content: space-between;
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}
.team__item {
  width: 392px;
  margin-bottom: 10px;
}
.team__imgbox {
  width: 363px;
  height: 594px;
  position: relative;
  cursor: pointer;
}
.team__imgbox:hover .team__imghover {
<<<<<<< HEAD
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
=======
  transform: scale(1);
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}
.team__imghover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(87, 87, 87, 0.79);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
<<<<<<< HEAD
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
=======
  transform: scale(0);
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}
.team__imghover--text {
  padding: 51px 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156.02%;
  color: #FFFFFF;
  border: 2px solid #B1ACAC;
  border-radius: 50%;
}
.team__img {
  width: 363px;
  height: 594px;
}
.team__title {
  margin-top: 13px;
  font-weight: bold;
  font-size: 26px;
  line-height: 156.02%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.team__text {
  font-weight: bold;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
}

@media screen and (max-width: 950px) {
  .team__item {
    width: 250px;
  }
  .team__item:last-child {
    display: none;
  }
  .team__item:nth-child(3) {
    display: none;
  }
  .team__imgbox {
    width: 250px;
    height: 400px;
  }
  .team__img {
    width: 250px;
    height: 400px;
  }
  .team__title {
    font-size: 16px;
    text-align: center;
  }
  .team__text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }
}

.partner {
  padding-top: 22px;
  background-color: #fff;
}
.partner__menu {
  padding: 56px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog {
  padding-bottom: 339px;
  margin-top: 177px;
}
.blog__menu {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.blog__item {
  width: 700px;
}
.blog__title {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
}
.blog__discription {
  min-height: 208px;
  font-weight: bold;
  font-size: 40px;
  line-height: 130.52%;
  color: #FFFFFF;
}
.blog__btn {
  display: inline-block;
  margin-left: 419px;
  margin-top: 38px;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) bottom/var(--d, 0) 3px no-repeat;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 3px no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog__btn:hover {
  --d: 100%;
}
.blog__numbers {
  width: 300px;
  margin: 0 auto;
  margin-top: 123px;
  display: flex;
  align-items: center;
  position: relative;
}
<<<<<<< HEAD

.blog__numbers--box {
=======
.blog__numbers--text {
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
  margin-right: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 156.02%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__numbers--num {
  margin-right: 20px;
}

.blog__numbers--num:first-child {
  border-bottom: 6px solid #fff;
  border-radius: 2px;
}
.blog__numbers--btn {
  padding: 13px 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  cursor: pointer;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
<<<<<<< HEAD

.blog__numbers--btn:hover {
  -webkit-box-shadow: 0 0 3px 3px #fff;
          box-shadow: 0 0 3px 3px #fff;
=======
.blog__numbers--line {
  position: absolute;
  height: 0;
  width: 15px;
  border-radius: 8px;
  background-color: #FFFFFF;
  bottom: -4px;
  border: 5px solid #FFFFFF;
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
}

.contact {
  width: 1140px;
  margin: 0 auto;
  margin-top: 190px;
  padding: 53px 83px 83px 40px;
  background: #161616;
  border: 2px solid rgba(107, 107, 107, 0.5);
  border-radius: 3px;
}
.contact__title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: #FFFFFF;
}
.contact__box {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.contact__aside {
  width: 400px;
}
.contact__bside {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact__input {
  padding: 14px 0 10px;
  width: 376px;
  background-color: #161616;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
}
.contact__textarea {
  margin-bottom: 10px;
  width: 484px;
  height: 245px;
  background-color: #161616;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
  resize: none;
  outline: none;
}
.contact__line {
  margin-bottom: 40px;
}
.contact__btn {
  margin-top: 78px;
  width: 160px;
  padding: 13px 29px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  opacity: 0.7;
  background-color: white;
}
.footer__wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__logo {
<<<<<<< HEAD
=======
  transform: translateY(-20px);
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
  width: 189px;
  height: 100px;
}
.footer__icon {
  margin-right: 13px;
  width: 35px;
  height: 32.5px;
}
.footer__icon--box {
  margin: 0 0 24px;
  display: flex;
}
.footer__title {
  width: 492px;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}
<<<<<<< HEAD

.footer__contact {
  padding-top: 27px;
}

=======
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
.footer__contact--item:first-child {
  margin-bottom: 32.6px;
}
.footer__contact--item:nth-child(2) {
  margin-bottom: 28px;
}
.footer__contact--title {
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.8);
}
.footer__contact--link {
  font-weight: normal;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.5);
}
.footer__link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}
<<<<<<< HEAD

.footer__link--box {
  padding-top: 32px;
}

=======
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
.footer__link--box li {
  margin-bottom: 14px;
}
.footer__bottom {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.8);
<<<<<<< HEAD
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal__active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal__aside {
  padding: 60px 0 162px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__btn {
  margin-bottom: 27px;
  width: 31px;
  height: 31px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__item {
  margin-bottom: 48px;
}

.modal__item:last-child {
  margin-bottom: 0;
}

.modal__link {
  font-weight: bold;
  font-size: 50px;
  line-height: 100.52%;
  color: #000;
}

.modal__bside {
  padding: 560px 160px 157px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__footer {
  font-weight: 500;
  font-size: 20px;
  line-height: 100.52%;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal__aside {
    padding: 40px 0 130px 70px;
  }
  .modal__item {
    margin-bottom: 35px;
  }
  .modal__item:last-child {
    margin-bottom: 0;
  }
  .modal__bside {
    padding: 0 0 50px 70px;
  }
}

@media screen and (max-width: 560px) {
  .modal {
    height: 100vh;
    overflow: hidden;
  }
  .modal__btn {
    width: 20px;
    height: 20px;
    margin-bottom: 35px;
  }
  .modal__aside {
    padding: 20px 0 0 30px;
  }
  .modal__link {
    font-size: 26px;
  }
  .modal__item {
    margin-bottom: 20px;
  }
  .modal__item:last-child {
    margin-bottom: 0;
  }
  .modal__bside {
    padding: 0 0 20px 30px;
  }
  .modal__footer {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */
=======
}/*# sourceMappingURL=main.css.map */
>>>>>>> 2d27e2e95e3c6a24f9473b94694f6968a2373e2f
