*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'TT Norms Pro Regular';
  background-color: #161616;
}

@font-face {
  font-family: 'TT Norms Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/TT-Norms-Regular.woff2") format("woff2"), url("../fonts/TT-Norms-Regular.woff") format("woff");
}

.container {
  width: 1739px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #fff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:first-child {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__item:first-child:hover .header__box {
  margin-right: 3px;
  width: 37px;
  height: 37px;
}

.header__box {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 6px;
  width: 31px;
  height: 31px;
  background: #FFFFFF;
  border: 3px solid #EB0C0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__box--intro {
  width: 17px;
  height: 17px;
  background-color: #EB0C0C;
}

.header__text {
  font-size: 20px;
  line-height: 100.52%;
  text-transform: uppercase;
}

.header__phone--icon {
  display: none;
}

.header__phone--link {
  padding: 12px 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  background: #ED111D;
  border: 2px solid #ED111D;
  border-radius: 5px;
  color: #fff;
}

.header__phone--link:hover {
  background-color: #fff;
  color: #ED111D;
}

@media screen and (max-width: 560px) {
  .header__item:last-child {
    width: 100px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__box {
    width: 28px;
    height: 28px;
  }
  .header__box--intro {
    width: 15px;
    height: 15px;
  }
  .header__logo {
    width: 115px;
    height: 66px;
  }
  .header__phone--icon {
    display: inline-block;
  }
  .header__phone--link {
    display: none;
  }
}

.intro {
  position: relative;
  padding: 96px 0 65px;
  background-color: #fff;
}

.intro__container::after {
  position: absolute;
  width: 21px;
  height: 206px;
  content: '';
  background-image: url("/img/sichqoncha_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  bottom: -7%;
}

.intro__item:nth-child(1) {
  display: none;
}

.intro__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__item:nth-child(5) {
  margin-bottom: 198px;
}

.intro__text {
  font-weight: bold;
  font-size: 9vw;
  line-height: 100.52%;
  text-transform: uppercase;
}

.intro__text--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__text--creativno {
  margin-left: 5vw;
  background-image: url("/img/kreativno_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__text--marketing {
  background-image: url("/img/marketing_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.intro__text--agentsva {
  margin-left: 33vw;
  background-image: url("/img/agenstvo_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.intro__text--smart {
  margin-left: 15vw;
  padding-top: 13px;
  width: 9vw;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}

.intro__text--discription {
  width: 33vw;
  margin-left: 58vw;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 100.52%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.intro__text--btn {
  position: relative;
  padding: 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: rgba(0, 0, 0, 0.6);
}

.intro__text--btn--icon {
  position: absolute;
  -webkit-transform: translateY(-7px) translateX(-18px);
          transform: translateY(-7px) translateX(-18px);
  width: 40px;
  height: 40px;
  border: 2px solid rgba(237, 17, 29, 0.7);
  border-radius: 50%;
}

.intro__message--icon {
  position: fixed;
  z-index: 9;
  top: 42vw;
  right: 6vw;
}

.intro__icon--box {
  max-height: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__icon--box img {
  opacity: 0.5;
}

.intro__icon--box img:hover {
  opacity: 1;
}

@media screen and (min-width: 1739px) {
  .intro__text {
    font-size: 150px;
  }
}

@media screen and (max-width: 1460px) {
  .intro__text--smart {
    width: 14vw;
  }
  .intro__icon--box img {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    padding: 12vw 0;
  }
  .intro__container::after {
    display: none;
  }
  .intro__icon--box {
    display: none;
  }
  .intro__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__item {
    margin-bottom: 5.2vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__item:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro__item:nth-child(5) {
    margin-bottom: 20vw;
  }
  .intro__text {
    margin: 0;
    font-size: 12vw;
  }
  .intro__text--smart {
    display: none;
  }
  .intro__text--discription {
    width: 100%;
    margin: 0;
    font-size: 3vw;
  }
  .intro__mobile--dot {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 100.52%;
    color: red;
  }
  .intro__mobile--text {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 100.52%;
  }
  .intro__message--icon {
    width: 30px;
    height: 30px;
  }
}

.price {
  padding: 179px 0;
}

.price__intro--header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__intro--icon {
  margin-right: 23px;
  width: 25px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.price__intro--icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.price__intro--title {
  font-weight: bold;
  font-size: 26px;
  line-height: 100.52%;
  color: #FF6B6B;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.price__intro--title:hover {
  color: #FF0000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.price__title {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__title--btn {
  padding: 16px 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 100.52%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FF0000;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.price__title--btn--active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.price__box {
  margin-top: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__box--item {
  margin-bottom: 72px;
}

.price__box--fieldset {
  padding: 40px 0 90px 62px;
  width: 770px;
  font-weight: 500;
  font-size: 20px;
  line-height: 151.02%;
  color: #FFFFFF;
}

.price__box--legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: disc;
  font-weight: bold;
  font-size: 26px;
  line-height: 100.52%;
  color: #FFFFFF;
}

.price__box--text {
  width: 560px;
  height: 180px;
  color: rgba(255, 255, 255, 0.7);
}

.price__box--subbox {
  margin-top: 22px;
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: #FFFFFF;
}

.price__box--btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 100.52%;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.price__box--btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.price__box--disk {
  margin: 0 14px 0 11px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 1580px) {
  .price__box--fieldset {
    padding: 20px 0 50px 40px;
    width: 630px;
  }
}

@media screen and (max-width: 1300px) {
  .price__title--btn {
    font-size: 36px;
  }
  .price__box--item {
    margin-bottom: 40px;
  }
  .price__box--text {
    max-width: 376px;
    min-height: 210px;
  }
  .price__box--subbox {
    max-width: 376px;
  }
  .price__box--fieldset {
    padding: 15px 0 30px 20px;
    width: 450px;
  }
}

@media screen and (max-width: 950px) {
  .price {
    padding: 85px 0;
  }
  .price__box {
    margin-top: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__box--item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__box--fieldset {
    width: 80%;
  }
  .price__title {
    margin-top: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__title--btn {
    margin-bottom: 25px;
    border: none;
  }
  .price__title--btn--active {
    border-bottom: 2px solid #FF0000;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .price__intro--title {
    font-size: 16px;
  }
  .price__intro--icon {
    margin-right: 7px;
    width: 11px;
    height: 22px;
  }
  .price__title--btn {
    font-size: 20px;
  }
  .price__box--subbox {
    width: 100%;
  }
  .price__box--text {
    min-height: 300px;
    width: 100%;
  }
  .price__box--legend {
    font-size: 18px;
  }
  .price__box--fieldset {
    padding: 15px 15px 15px 15px;
    width: 100%;
  }
}

.about {
  margin-bottom: 168px;
}

.about__img {
  position: relative;
  width: 1276px;
}

.about__box {
  margin-top: 144px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__arraybox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  right: 0;
  bottom: 50px;
}

.about__array {
  width: 78px;
}

.about__ellips {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}

.about__eye {
  position: absolute;
  top: -140px;
  right: 0;
}

.about__text {
  top: 209px;
  left: 0;
  position: absolute;
  width: 1000px;
  font-weight: bold;
  font-size: 50px;
  line-height: 173.52%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about__text--red {
  color: #FF0000;
}

.about__subtext {
  margin-top: 12px;
  display: block;
  text-align: right;
  font-size: 18px;
  line-height: 100.52%;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1300px) {
  .about__img {
    width: 100%;
  }
  .about__text {
    top: 35%;
    width: 660px;
    font-size: 32px;
  }
  .about__eye {
    width: 300px;
    top: -104px;
  }
}

@media screen and (max-width: 950px) {
  .about__text {
    width: 100%;
    font-size: 24px;
    line-height: 140%;
  }
  .about__arraybox {
    bottom: -53px;
  }
  .about__subtext {
    text-align: left;
  }
  .about__eye {
    top: -87px;
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .about__box {
    margin-top: 77px;
  }
  .about__eye {
    top: -62px;
    width: 180px;
  }
}

@media screen and (max-width: 500px) {
  .about__text {
    font-size: 16px;
  }
  .about__eye {
    top: -40px;
    width: 117px;
  }
  .about__subtext {
    font-size: 11px;
  }
  .about__arraybox {
    height: auto;
    bottom: -32px;
  }
  .about__array {
    width: 40px;
  }
  .about__ellips {
    width: 30px;
    height: 30px;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
}

.team {
  margin-bottom: 163px;
}

.team__box {
  max-width: 1723px;
  margin: 0 auto;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  width: 392px;
  margin-bottom: 10px;
}

.team__imgbox {
  width: 363px;
  height: 594px;
  position: relative;
  cursor: pointer;
}

.team__imgbox:hover .team__imghover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team__imghover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(87, 87, 87, 0.79);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.team__imghover--text {
  padding: 51px 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156.02%;
  color: #FFFFFF;
  border: 2px solid #B1ACAC;
  border-radius: 50%;
}

.team__img {
  width: 363px;
  height: 594px;
}

.team__title {
  margin-top: 13px;
  font-weight: bold;
  font-size: 26px;
  line-height: 156.02%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.team__text {
  font-weight: bold;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
}

@media screen and (max-width: 950px) {
  .team {
    margin-bottom: 60px;
  }
  .team__item {
    width: 250px;
  }
  .team__item:last-child {
    display: none;
  }
  .team__item:nth-child(3) {
    display: none;
  }
  .team__imgbox {
    width: 250px;
    height: 400px;
  }
  .team__img {
    width: 250px;
    height: 400px;
  }
  .team__title {
    font-size: 16px;
    text-align: center;
  }
  .team__text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .team__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.partner {
  padding-top: 22px;
  background-color: #fff;
}

.partner__menu {
  padding: 56px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .partner__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner__link {
    margin: 0 15px;
  }
}

@media screen and (max-width: 560px) {
  .partner__menu {
    padding: 8vw 0 9.5vw;
  }
}

.blog {
  padding-bottom: 339px;
  margin-top: 177px;
}

.blog__menu {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item {
  width: 700px;
}

.blog__title {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
}

.blog__discription {
  min-height: 208px;
  font-weight: bold;
  font-size: 40px;
  line-height: 130.52%;
  color: #FFFFFF;
}

.blog__btn {
  display: inline-block;
  margin-left: 419px;
  margin-top: 38px;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) bottom/var(--d, 0) 3px no-repeat;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 3px no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog__btn:hover {
  --d: 100%;
}

.blog__numbers {
  width: 300px;
  margin: 0 auto;
  margin-top: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.blog__numbers--box {
  margin-right: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 156.02%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__numbers--num {
  margin-right: 20px;
}

.blog__numbers--num:first-child {
  border-bottom: 6px solid #fff;
  border-radius: 2px;
}

.blog__numbers--btn {
  padding: 13px 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  cursor: pointer;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog__numbers--btn:hover {
  -webkit-box-shadow: 0 0 3px 3px #fff;
          box-shadow: 0 0 3px 3px #fff;
}

@media screen and (max-width: 1427px) {
  .blog__item {
    width: 49%;
  }
  .blog__discription {
    font-size: 3vw;
  }
  .blog__title {
    font-size: 1.8vw;
  }
  .blog__btn {
    margin-top: 4vw;
    margin-left: 32vw;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 950px) {
  .blog {
    margin-top: 100px;
  }
  .blog__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__item {
    width: 95%;
    margin-bottom: 50px;
  }
  .blog__item:last-child {
    margin-bottom: 0;
  }
  .blog__discription {
    font-size: 5vw;
  }
  .blog__title {
    font-size: 3.8vw;
    color: rgba(255, 255, 255, 0.5);
  }
  .blog__btn {
    margin-top: 4vw;
    margin-left: 63vw;
    font-size: 3.8vw;
  }
  .blog__numbers {
    margin-top: 10vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__numbers--num {
    margin-right: 30px;
    width: 30px;
  }
  .blog__numbers--box {
    margin: 0;
    font-size: 7vw;
  }
  .blog__numbers--btn {
    margin-top: 0;
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .blog {
    margin-top: 59px;
  }
  .blog__menu {
    margin-top: 35px;
  }
  .blog__discription {
    min-height: 120px;
    height: auto;
  }
  .blog__btn {
    margin: 0;
    margin-left: 61vw;
  }
  .blog__numbers--box {
    font-size: 20px;
  }
  .blog__numbers--num {
    width: 20px;
    margin-right: 20px;
  }
}

.contact {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 190px;
  padding: 53px 83px 83px 40px;
  background: #161616;
  border: 2px solid rgba(107, 107, 107, 0.5);
  border-radius: 3px;
}

.contact__title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: #FFFFFF;
}

.contact__box {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__aside {
  width: 400px;
}

.contact__bside {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__input {
  padding: 14px 0 10px;
  width: 376px;
  max-width: 100%;
  background-color: #161616;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
}

.contact__textarea {
  margin-bottom: 10px;
  width: 484px;
  max-width: 100%;
  height: 245px;
  background-color: #161616;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
  resize: none;
  outline: none;
}

.contact__line {
  margin-bottom: 40px;
}

.contact__btn {
  margin-top: 78px;
  width: 160px;
  padding: 13px 29px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1164px) {
  .contact {
    padding: 20px;
  }
  .contact__line {
    width: 90%;
  }
  .contact__aside {
    width: 50%;
  }
  .contact__bside {
    width: 50%;
  }
  .contact__bside img {
    width: 98%;
  }
  .contact__textarea {
    padding: 10px 0 0 10px;
  }
}

@media screen and (max-width: 950px) {
  .contact {
    border: none;
    border-radius: 0;
    max-width: 95%;
  }
  .contact__title {
    font-size: 30px;
  }
  .contact__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__aside {
    width: 100%;
  }
  .contact__bside {
    width: 100%;
  }
  .contact__textarea {
    width: 100%;
  }
  .contact__btn {
    margin: 0 auto;
    margin-top: 50px;
  }
}

.footer {
  opacity: 0.7;
  background-color: white;
}

.footer__wrapper {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  width: 189px;
  height: 100px;
}

.footer__icon {
  margin-right: 13px;
  width: 35px;
  height: 32.5px;
}

.footer__icon--box {
  margin: 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}

.footer__contact {
  padding-top: 27px;
}

.footer__contact--item:first-child {
  margin-bottom: 32.6px;
}

.footer__contact--item:nth-child(2) {
  margin-bottom: 28px;
}

.footer__contact--title {
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.8);
}

.footer__contact--link {
  font-weight: normal;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.5);
}

.footer__link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}

.footer__link--box {
  padding-top: 32px;
}

.footer__link--box li {
  margin-bottom: 14px;
}

.footer__bottom {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.8);
}

@media screen and (max-width: 950px) {
  .footer__item:first-child {
    width: 800px;
    max-width: 100%;
  }
  .footer__logo {
    width: 115px;
    height: 66px;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px) {
  .footer__title {
    font-size: 20px;
  }
  .footer__contact--title {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .footer__contact--link {
    font-size: 16px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__link--box li {
    margin-bottom: 20px;
  }
  .footer__bottom {
    font-size: 12px;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal__active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal__aside {
  padding: 60px 0 162px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__btn {
  margin-bottom: 27px;
  width: 31px;
  height: 31px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__item {
  margin-bottom: 48px;
}

.modal__item:last-child {
  margin-bottom: 0;
}

.modal__link {
  font-weight: bold;
  font-size: 50px;
  line-height: 100.52%;
  color: #000;
}

.modal__bside {
  padding: 560px 160px 157px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__footer {
  font-weight: 500;
  font-size: 20px;
  line-height: 100.52%;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal__aside {
    padding: 40px 0 130px 70px;
  }
  .modal__item {
    margin-bottom: 35px;
  }
  .modal__item:last-child {
    margin-bottom: 0;
  }
  .modal__bside {
    padding: 0 0 50px 70px;
  }
}

@media screen and (max-width: 560px) {
  .modal {
    height: 100vh;
    overflow: hidden;
  }
  .modal__btn {
    width: 20px;
    height: 20px;
    margin-bottom: 35px;
  }
  .modal__aside {
    padding: 20px 0 0 30px;
  }
  .modal__link {
    font-size: 26px;
  }
  .modal__item {
    margin-bottom: 20px;
  }
  .modal__item:last-child {
    margin-bottom: 0;
  }
  .modal__bside {
    padding: 0 0 20px 30px;
  }
  .modal__footer {
    font-size: 16px;
  }
}

.service__intro {
  background: #fff;
  padding-bottom: 171px;
}

.service__intro--link {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.service__intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__intro-text {
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  width: 872px;
  margin: 48px 0 54px;
}

.service__intro-text--bold {
  font-weight: 700;
}

.service__intro-img {
  max-width: 100%;
}

@media only screen and (max-width: 1440px) {
  .service__intro {
    padding-bottom: 171px;
  }
  .service__intro-text {
    width: 750px;
  }
  .service__intro-img {
    width: 720px;
  }
}

@media only screen and (max-width: 1024px) {
  .service__intro {
    padding-bottom: 171px;
  }
  .service__intro-text {
    font-size: 26px;
    width: 654px;
    margin: 48px 0 54px;
  }
  .service__intro-img {
    width: 610px;
  }
}

@media only screen and (max-width: 768px) {
  .service__intro {
    padding-bottom: 151px;
  }
  .service__intro-text {
    font-size: 22px;
    width: 600px;
    margin: 40px 0 48px;
  }
  .service__intro-img {
    width: 570px;
  }
}

@media only screen and (max-width: 630px) {
  .service__intro {
    padding-bottom: 141px;
  }
  .service__intro-text {
    font-size: 22px;
    width: 420px;
    margin: 30px 0 38px;
  }
  .service__intro-img {
    width: 380px;
  }
}

@media only screen and (max-width: 425px) {
  .service__intro {
    padding-bottom: 100px;
  }
  .service__intro-text {
    font-size: 22px;
    width: 350px;
    margin: 25px 0 30px;
  }
  .service__intro-img {
    width: 380px;
  }
}

@media only screen and (max-width: 375px) {
  .service__intro {
    padding-bottom: 80px;
  }
  .service__intro-text {
    font-size: 22px;
    width: 310px;
    margin: 20px 0 25px;
  }
  .service__intro-img {
    width: 340px;
  }
}

@media only screen and (max-width: 320px) {
  .service__intro {
    padding-bottom: 50px;
  }
  .service__intro-text {
    font-size: 20px;
    width: 280px;
    margin: 20px 0 25px;
  }
  .service__intro-img {
    width: 300px;
  }
}

.context {
  background-color: #fff;
}

.context__item {
  position: relative;
  padding-bottom: 117px;
}

.context__item:last-child {
  padding-bottom: 51px;
}

.context__line {
  height: 5px;
  background: #000000;
}

.context__line--lending {
  width: 850px;
  max-width: 100%;
  margin-right: 21px;
}

.context__line--shop {
  width: 648px;
  max-width: 100%;
  margin-left: 21px;
}

.context__line--blog {
  width: 758px;
  max-width: 100%;
  margin-right: 21px;
}

.context__line--visit {
  width: 741px;
  max-width: 100%;
  margin-left: 21px;
}

.context__line-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 75px;
}

.context__line-header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.context__line-title {
  font-size: 26px;
  line-height: 100.52%;
  text-transform: uppercase;
  color: #000000;
}

.context__line--icon {
  margin-left: 23px;
}

.context__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 141%;
  color: #000000;
}

.context__title--left {
  text-align: left;
}

.context__title--right {
  text-align: right;
}

.context__text {
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.context__text--left {
  width: 798px;
}

.context__text--right {
  width: 717px;
}

.context__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0 28px;
}

.context__subtext {
  width: 554px;
  font-size: 20px;
  line-height: 133%;
  color: #000000;
}

.context__subtext--left {
  margin: 5px 0 70px 0;
  text-align: left;
}

.context__subtext--right {
  text-align: right;
  margin: 5px 0 70px auto;
}

@media only screen and (max-width: 1440px) {
  .context__item {
    padding-bottom: 117px;
  }
  .context__item:last-child {
    padding-bottom: 51px;
  }
  .context__line--lending {
    width: 637px;
  }
  .context__line--shop {
    width: 486px;
  }
  .context__line--blog {
    width: 568px;
  }
  .context__line--visit {
    width: 556px;
  }
  .context__line-header {
    margin-bottom: 75px;
  }
  .context__line-title {
    font-size: 26px;
    text-transform: uppercase;
  }
  .context__text--left {
    width: 678px;
  }
  .context__text--right {
    width: 609px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0 28px;
  }
  .context__subtext {
    width: 470px;
    margin: 5px 0 70px 0;
  }
}

@media only screen and (max-width: 1340px) {
  .context__item {
    padding-bottom: 110px;
  }
  .context__item:last-child {
    padding-bottom: 48px;
  }
  .context__line--lending {
    width: 541px;
  }
  .context__line--shop {
    width: 413px;
  }
  .context__line--blog {
    width: 482px;
  }
  .context__line--visit {
    width: 472px;
  }
  .context__line-header {
    margin-bottom: 70px;
  }
  .context__line-title {
    font-size: 26px;
    text-transform: uppercase;
  }
  .context__text--left {
    width: 576px;
  }
  .context__text--right {
    width: 517px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0 28px;
  }
  .context__subtext {
    width: 400px;
    margin: 5px 0 70px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .context__item {
    padding-bottom: 110px;
  }
  .context__item:last-child {
    padding-bottom: 48px;
  }
  .context__line--lending {
    width: 460px;
  }
  .context__line--shop {
    width: 351px;
  }
  .context__line--blog {
    width: 410px;
  }
  .context__line--visit {
    width: 401px;
  }
  .context__line-header {
    margin-bottom: 70px;
  }
  .context__line-title {
    font-size: 26px;
    text-transform: uppercase;
  }
  .context__text {
    font-size: 19px;
  }
  .context__text--left {
    width: 490px;
  }
  .context__text--right {
    width: 440px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0 28px;
  }
  .context__subtext {
    width: 340px;
    margin: 5px 0 70px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .context__item {
    padding-bottom: 110px;
  }
  .context__item:last-child {
    padding-bottom: 48px;
  }
  .context__line--lending {
    width: 391px;
  }
  .context__line--shop {
    width: 300px;
  }
  .context__line--blog {
    width: 348px;
  }
  .context__line--visit {
    width: 340px;
  }
  .context__line-header {
    margin-bottom: 65px;
  }
  .context__line-title {
    font-size: 22px;
    text-transform: uppercase;
  }
  .context__text {
    font-size: 19px;
  }
  .context__text--left {
    width: 416px;
  }
  .context__text--right {
    width: 374px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0 28px;
  }
  .context__subtext {
    width: 290px;
    margin: 5px 0 65px 0;
  }
}

@media only screen and (max-width: 860px) {
  .context__item {
    padding-bottom: 100px;
  }
  .context__item:last-child {
    padding-bottom: 45px;
  }
  .context__line--lending {
    width: 332px;
  }
  .context__line--shop {
    width: 255px;
  }
  .context__line--blog {
    width: 296px;
  }
  .context__line--visit {
    width: 289px;
  }
  .context__line-header {
    margin-bottom: 60px;
  }
  .context__line-title {
    font-size: 22px;
    text-transform: uppercase;
  }
  .context__title {
    font-size: 18px;
  }
  .context__text {
    font-size: 18px;
  }
  .context__text--left {
    width: 353px;
  }
  .context__text--right {
    width: 318px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0 28px;
  }
  .context__subtext {
    width: 246px;
    margin: 5px 0 55px 0;
  }
}

@media only screen and (max-width: 768px) {
  .context__item {
    padding-bottom: 100px;
  }
  .context__item:last-child {
    padding-bottom: 45px;
  }
  .context__line--lending {
    width: 332px;
  }
  .context__line--shop {
    width: 255px;
  }
  .context__line--blog {
    width: 296px;
  }
  .context__line--visit {
    width: 289px;
  }
  .context__line-header {
    margin-bottom: 60px;
  }
  .context__line-title {
    font-size: 20px;
    text-transform: uppercase;
  }
  .context__title {
    font-size: 18px;
    text-align: center;
  }
  .context__text {
    font-size: 18px;
    text-align: center;
    width: 680px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 0 28px;
  }
  .context__subtext {
    font-size: 18px;
    text-align: center;
    width: 670px;
    margin: 5px 0 55px 0;
  }
}

@media only screen and (max-width: 768px) {
  .context__item {
    padding-bottom: 80px;
  }
  .context__item:last-child {
    padding-bottom: 40px;
  }
  .context__line {
    margin-left: 0px;
  }
  .context__line-header {
    margin-bottom: 50px;
  }
  .context__line-title {
    font-size: 18px;
    text-transform: uppercase;
  }
  .context__line--icon {
    margin-left: 15px;
  }
  .context__title {
    font-size: 16px;
    text-align: center;
  }
  .context__text {
    font-size: 16px;
    text-align: center;
    width: 500px;
  }
  .context__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 22px 0 22px;
  }
  .context__subtext {
    font-size: 16px;
    text-align: center;
    width: 500px;
    margin: 5px 0 45px 0;
  }
}

@media only screen and (max-width: 505px) {
  .context__item {
    padding-bottom: 70px;
  }
  .context__item:last-child {
    padding-bottom: 30px;
  }
  .context__line {
    margin-left: 0px;
  }
  .context__line-header {
    margin-bottom: 40px;
  }
  .context__line-title {
    font-size: 15px;
    text-transform: uppercase;
  }
  .context__line--icon {
    margin-left: 15px;
  }
  .context__title {
    font-size: 15px;
    text-align: center;
  }
  .context__text {
    font-size: 15px;
    text-align: center;
    width: 420px;
  }
  .context__text-wrapper {
    margin: 20px 0 20px;
  }
  .context__subtext {
    font-size: 15px;
    text-align: center;
    width: 420px;
    margin: 5px 0 35px 0;
  }
}

@media only screen and (max-width: 425px) {
  .context__item {
    padding-bottom: 60px;
  }
  .context__item:last-child {
    padding-bottom: 25px;
  }
  .context__line {
    margin-left: 0px;
  }
  .context__line-header {
    margin-bottom: 40px;
  }
  .context__line-title {
    font-size: 13px;
    text-transform: uppercase;
  }
  .context__line--icon {
    margin-left: 13px;
  }
  .context__title {
    font-size: 13px;
    text-align: center;
  }
  .context__text {
    font-size: 13px;
    text-align: center;
    width: 360px;
  }
  .context__text-wrapper {
    margin: 20px 0 20px;
  }
  .context__subtext {
    font-size: 13px;
    text-align: center;
    width: 360px;
    margin: 5px 0 25px 0;
  }
}

@media only screen and (max-width: 320px) {
  .context__item {
    padding-bottom: 60px;
  }
  .context__item:last-child {
    padding-bottom: 25px;
  }
  .context__line {
    margin-left: 0px;
  }
  .context__line-header {
    margin-bottom: 40px;
  }
  .context__line-title {
    font-size: 13px;
    text-transform: uppercase;
  }
  .context__line--icon {
    margin-left: 13px;
  }
  .context__title {
    font-size: 13px;
    text-align: center;
  }
  .context__text {
    font-size: 13px;
    text-align: center;
    width: 310px;
  }
  .context__text-wrapper {
    margin: 20px 0 20px;
  }
  .context__subtext {
    font-size: 14px;
    text-align: center;
    width: 310px;
    margin: 5px 0 25px 0;
  }
}

.connection {
  margin: 0 auto;
  padding: 59px 0 70px 0;
  background: #161616;
}

.connection__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
}

.connection__text {
  font-size: 26px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}

.connection__form {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__input {
  padding: 14px 0 10px 0;
  width: 645px;
  background-color: #161616;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
}

.connection__textarea {
  margin-bottom: 10px;
  width: 663px;
  height: 245px;
  background-color: #161616;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
  resize: none;
  outline: none;
  padding-left: 10px;
}

.connection__line {
  margin-bottom: 40px;
  width: 645px;
}

.connection__line--area {
  width: 663px;
}

.connection__btn {
  margin-top: 78px;
  width: 160px;
  padding: 13px 29px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .connection {
    padding: 39px 0 50px 0;
  }
  .connection__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
  }
  .connection__text {
    font-size: 22px;
    line-height: 100%;
    margin-top: 20px;
  }
  .connection__form {
    margin-top: 60px;
  }
  .connection__input {
    padding: 10px 0 8px 0;
    width: 480px;
    font-size: 20px;
  }
  .connection__textarea {
    width: 497px;
    height: 185px;
    font-weight: 700;
    padding-left: 7px;
  }
  .connection__line {
    margin-bottom: 32px;
    width: 480px;
  }
  .connection__line--area {
    width: 497px;
  }
  .connection__btn {
    margin-top: 58px;
    width: 160px;
    padding: 13px 29px;
  }
}

@media only screen and (max-width: 600px) {
  .connection {
    padding: 25px 0 30px 0;
  }
  .connection__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 80%;
  }
  .connection__text {
    font-size: 20px;
    line-height: 100%;
    margin-top: 15px;
  }
  .connection__form {
    margin-top: 70px;
  }
  .connection__input {
    padding: 8px 0 5px 0;
    width: 420px;
    font-size: 20px;
  }
  .connection__textarea {
    width: 450px;
    height: 150px;
    font-weight: 700;
    padding-left: 7px;
  }
  .connection__line {
    margin-bottom: 32px;
    width: 420px;
  }
  .connection__line--area {
    width: 450px;
  }
  .connection__btn {
    margin-top: 58px;
    width: 150px;
    padding: 10px 20px;
    line-height: 100.52%;
  }
}

@media only screen and (max-width: 425px) {
  .connection {
    padding: 15px 0 20px 0;
  }
  .connection__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
  }
  .connection__text {
    font-size: 16px;
    line-height: 100%;
    margin-top: 12px;
  }
  .connection__form {
    margin-top: 60px;
  }
  .connection__input {
    padding: 8px 0 5px 0;
    width: 320px;
    font-size: 20px;
  }
  .connection__textarea {
    width: 340px;
    height: 150px;
    font-weight: 700;
    padding-left: 7px;
  }
  .connection__line {
    margin-bottom: 28px;
    width: 320px;
  }
  .connection__line--area {
    width: 340px;
  }
  .connection__btn {
    margin-top: 45px;
    width: 120px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 375px) {
  .connection {
    padding: 15px 0 20px 0;
  }
  .connection__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
  }
  .connection__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 12px;
  }
  .connection__form {
    margin-top: 50px;
  }
  .connection__input {
    padding: 8px 0 5px 0;
    width: 320px;
    font-size: 20px;
  }
  .connection__textarea {
    width: 340px;
    height: 150px;
    font-weight: 700;
    padding-left: 12px;
  }
  .connection__line {
    margin-bottom: 28px;
    width: 320px;
  }
  .connection__line--area {
    width: 340px;
  }
  .connection__btn {
    margin-top: 45px;
    width: 120px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 320px) {
  .connection {
    padding: 15px 0 20px 0;
  }
  .connection__form {
    margin-top: 40px;
  }
  .connection__input {
    padding: 8px 0 5px 0;
    width: 280px;
    font-size: 20px;
  }
  .connection__textarea {
    width: 300px;
    height: 150px;
    font-weight: 700;
    padding-left: 12px;
  }
  .connection__line {
    margin-bottom: 28px;
    width: 280px;
  }
  .connection__line--area {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */