.about{
    padding-bottom: 168px;
    background-color: #161616;
    overflow: hidden;
    &__img{
        position: relative;
        width: 1276px;
    }
    &__box{
        margin-top: 144px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &__arraybox{
        position: absolute;
        display: flex;
        height: 50px;
        right: 0;
        bottom: 50px;
    }
    &__array{
        width: 78px;
    }
    &__ellips{
        transform: translateX(-30px);
        width: 50px;
        height: 50px;
        border: 2px solid rgba(255, 0, 0, 0.7);
        border-radius: 50%;
    }
    &__eye{
        position: absolute;
        top: -140px;
        right: 0;
    }
    &__text{
        top: 209px;
        left: 0;
        position: absolute;
        width: 1000px;
        font-weight: bold;
        font-size: 50px;
        line-height: 173.52%;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: 0.5s;
        &--red{
            color: #FF0000;
        }
    }
    &__subtext{
        margin-top: 12px;
        display: block;
        text-align: right;
        font-size: 18px;
        line-height: 100.52%;
        color: rgba(255, 255, 255, 0.3);
    }
}

// *****************
// MEDIA
// *****************
@media screen and (max-width: 1300px) {
    .about{
        &__img{
            width: 100%;
        }
        &__text{
            top: 35%;
            width: 660px;
            font-size: 32px;
        }
        &__eye{
            width: 300px;
            top: -104px;
        }
    }
}
@media screen and (max-width: 950px) {
    .about{
        &__text{
            width: 100%;
            font-size: 24px;
            line-height: 140%;
        }
        &__arraybox{
            bottom: -53px;
        }
        &__subtext{
            text-align: left;
        }
        &__eye{
            top: -87px;
            width: 250px;
        }
    }
}
@media screen and (max-width: 700px) {
    .about{
        padding-bottom: 100px;
        &__box{
            margin-top: 77px;
        }
        &__eye{
            top: -62px;
            width: 180px;
        }
    }
}
@media screen and (max-width: 500px) {
    .about{
        &__text{
            font-size: 16px;
        }
        &__eye{
            top: -40px;
            width: 117px;
        }
        &__subtext{
            font-size: 11px;
        }
        &__arraybox{
            height: auto;
            bottom: -32px;
        }
        &__array{
            width: 40px;
        }
        &__ellips{
            width: 30px;
            height: 30px;
            transform: translateX(-18px);
        }
    }
}