.blog{
    padding-bottom: 339px;
    padding-top: 177px;
    background-color: #161616;
    &__menu{
        margin-top: 41px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 700px;
    }   
    &__title{
        margin-bottom: 13px;
        font-weight: 500;
        font-size: 26px;
        line-height: 156.02%;
        color: #FFFFFF;
    }
    &__discription{
        min-height: 208px;
        font-weight: bold;
        font-size: 40px;
        line-height: 130.52%;
        color: #FFFFFF;
    }
    &__btn{
        display: inline-block;
        margin-left: 419px;
        margin-top: 38px;
        font-weight: 500;
        font-size: 26px;
        line-height: 156.02%;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        background: 
        linear-gradient(currentColor 0 0) 
        bottom /var(--d, 0) 3px 
        no-repeat;
        transition:0.5s;
        &:hover{
            --d: 100%;
        }
    }
    &__numbers{
        width: 300px;
        margin: 0 auto;
        margin-top: 123px;
        display: flex;
        align-items: center;
        position: relative;
        &--box{
            margin-right: 20px;
            font-weight: 500;
            font-size: 30px;
            line-height: 156.02%;
            color: #fff;
            display: flex;
        }
        &--num{
            width: 25px;
            max-width: 100%;
            margin-right: 10px;
            text-align: center;
            &:first-child{
                border-bottom: 6px solid #fff;
                border-radius: 2px;
            }
        }
        &--btn{
            padding: 13px 18px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100.52%;
            cursor: pointer;
            background: #fff;
            transition: 0.5s;
            &:hover{
                box-shadow: 0 0 3px 3px #fff;
            }
        }
    }
}

//****************
// MEDIA
//****************
@media screen and (max-width: 1427px) {
    .blog{
        &__item{
            width: 49%;
        }
        &__discription{
            font-size: 3vw;
        }
        &__title{
            font-size: 1.8vw;
        }
        &__btn{
            margin-top: 4vw;
            margin-left: 32vw;
            font-size: 1.8vw;
        }
    }
}
@media screen and (max-width: 950px) {
    .blog{
        padding-bottom: 180px;
        padding-top: 100px;
        &__menu{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            width: 95%;
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__discription{
            font-size: 5vw;
        }
        &__title{
            font-size: 3.8vw;
            color: rgba(255, 255, 255, 0.5);;
        }
        &__btn{
            margin-top: 4vw;
            margin-left: 63vw;
            font-size: 3.8vw;
        }
        &__numbers{
            margin-top: 10vw;
            justify-content: center;
            &--num{
                margin-right: 30px;
                width: 30px;
            }
            &--box{
                margin: 0;
                font-size: 7vw;
            }
            &--btn{
                margin-top: 0;
                display: none;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .blog{
        padding-top: 59px;
        &__menu{
            margin-top: 35px;
        }
        &__discription{
            min-height: 120px;
            height: auto;
        }
        &__btn{
            margin: 0;
            margin-left: 61vw;
        }
        &__numbers{
            &--box{
                font-size: 20px;
            }
            &--num{
                width: 20px;
                margin-right: 20px;
            }
        }
    }
}
// contact

.contact{
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 190px;
    padding: 53px 83px 83px 40px;
    background: #161616;
    border: 2px solid rgba(107, 107, 107, 0.5);
    border-radius: 3px;
    &__title{
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 109.52%;
        color: #FFFFFF;
    }
    &__box{
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
    }
    &__aside{
        width: 400px;
    }
    &__bside{
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__input{
        padding: 14px 0 10px;
        width: 376px;
        max-width: 100%;
        background-color: #161616;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 156.02%;
        color: rgba(255, 255, 255, 0.3);
    }
    &__textarea{
        margin-bottom: 10px;
        width: 484px;
        max-width: 100%;
        height: 245px;
        background-color: #161616;
        border: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 156.02%;
        color: rgba(255, 255, 255, 0.3);
        resize: none;
        outline: none;
    }
    &__line{
        margin-bottom: 40px;
    }
    &__btn{
        margin-top: 78px;
        width: 160px;
        padding: 13px 29px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100.52%;
        color: #000000;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
}


//*********************
// MEDIA
//*********************
@media screen and (max-width: 1164px) {
    .contact{
        padding: 20px;
        &__line{
            width: 90%;
        }
        &__aside{
            width: 50%;
        } 
        &__bside{
            width: 50%;
            & img{
                width: 98%;
            }
        }
        &__textarea{
            padding: 10px 0 0 10px;
        }
    }
}
@media screen and (max-width: 950px) {
    .contact{
        border: none;
        border-radius: 0;
        max-width: 95%;
        &__title{
            font-size: 30px;
        }
        &__box{
            margin-top: 50px;
            flex-direction: column;
        }
        &__aside{
            width: 100%;
        }
        &__bside{
            width: 100%;
        }
        &__textarea{
            width: 100%;
        }
        &__btn{
            margin: 0 auto;
            margin-top: 50px;
        }
    }
}