@font-face {
    font-family: 'TT Norms Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../fonts/TT-Norms-Regular.woff2') format('woff2'),
    url('../fonts/TT-Norms-Regular.woff') format('woff');
    }