.footer{
    opacity: 0.7;
    background-color: white;
    &__wrapper{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
    }
    &__logo{
        width: 189px;
        height: 100px;
    }
    &__icon{
        margin-right: 13px;
        width: 35px;
        height: 32.5px;
        &--box{
            margin:0 0 24px;
            display: flex;
        }
    }
    &__title{
        // width: 492px;
        // max-width: 100%;
        font-weight: bold;
        font-size: 40px;
        line-height: 109.52%;
        color: rgba(71, 71, 71, 0.5);
    }
    &__contact{
        padding-top: 27px;
        &--item{
            &:first-child{
                margin-bottom: 32.6px;
            }
            &:nth-child(2){
                margin-bottom: 28px;
            }
        }
        &--title{
            font-weight: bold;
            font-size: 26px;
            line-height: 109.52%;
            color: rgba(0, 0, 0, 0.8);
        }
        &--link{
            font-weight: normal;
            font-size: 26px;
            line-height: 109.52%;
            color: rgba(0, 0, 0, 0.5);
        }
    }
    &__link{
        &--box{
            padding-top: 32px;
            & li{
                margin-bottom: 14px;
            }  
        } 
        transition: 0.5s;
        font-weight: bold;
        font-size: 26px;
        line-height: 109.52%;
        color: rgba(71, 71, 71, 0.5);
    }
    &__bottom{
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        line-height: 109.52%;
        color: rgba(71, 71, 71, 0.8);
    }
}

//******************
// MEDIA 
//******************
@media screen and (max-width: 950px) {
    .footer{
        &__item{
            &:first-child{
                width: 800px;
                max-width: 100%;
            }
        }
        &__logo{
            width: 115px;
            height: 66px;
        }
        &__wrapper{
            // flex-direction: column;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 560px) {
    .footer{
        &__title{
            font-size: 20px;
        }
        &__contact{
            &--title{
                margin-bottom: 15px;
                font-size: 16px;
            }
            &--link{
                font-size: 16px;
            }
        }
        &__link{
            &--box li{
                margin-bottom: 20px;
            }
            font-size: 16px;
        }
        &__bottom{
            font-size: 12px;
        }
    }
}