.partner{
    padding-top: 22px;
    background-color: #fff;
    &__menu{
        padding: 56px 0 35px;
        display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        transition: 0.5s;
    }
    &__title{
        font-weight: bold;
        font-size: 26px;
        line-height: 100.52%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-top: 41px;
        
    }
    &__link{
        transition: 0.5s;
    }
}

//*******************
// MEDIA
//*******************
@media screen and (max-width: 950px) {
    .partner{
        &__menu{
            padding: 35px 0 32px;
        }
        &__img{
            width: 115px;
        }
    }
}
@media screen and (max-width: 560px) {
    .partner{
        &__menu{
            padding: 8vw 0 9.5vw;
        }
    }
}