.price{
    padding: 179px 0;
    background-color: #161616;
    overflow: hidden;
    &__intro{
        &--header{
            height: 50px;
            display: flex;
            align-items: center;
            transition: 0.5s;
        }
        &--icon{
            margin-right: 23px;
            width: 25px;
            height: 50px;
            transition: 0.5s;
            &:hover{
                transform: rotate(360deg);
            }
        }
        &--title{
            font-weight: bold;
            font-size: 26px;
            line-height: 100.52%;
            color: #FF6B6B;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                color: #FF0000;
                transform: scale(1.1);
            }
        }
    }
    &__title{
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        &--btn{
            padding: 16px 0;
            font-weight: bold;
            font-size: 50px;
            line-height: 100.52%;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #FF0000;
            opacity: 0.5;
            transition: 0.5s;
            cursor: pointer;
            transform: scale(0.9);
            &--active{
                opacity: 1;
                transform: scale(1);
            }
        }
        &__item{
            transition: 0.5s;
        }
    }
    &__box{
        margin-top: 142px;
        display: none; //flex
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &--active{
            display: flex;
        }
        &--item{
            margin-bottom: 72px;
            transition: 0.5s;
        }
        &--fieldset{
            padding: 40px 0 90px 62px;
            width: 770px;
            font-weight: 500;
            font-size: 20px;
            line-height: 151.02%;
            color: #FFFFFF;
        }
        &--legend{
            display: flex;
            align-items: center;
            list-style-type: disc;
            font-weight: bold;
            font-size: 26px;
            line-height: 100.52%;
            color: #FFFFFF;
        }
        &--text{
            width: 560px;
            height: 180px;
            color: rgba(255, 255, 255, 0.7);
        }
        &--subbox{
            margin-top: 22px;
            width: 560px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            font-size: 20px;
            line-height: 100.52%;
            color: #FFFFFF;
        }
        &--btn{
            font-weight: bold;
            font-size: 20px;
            line-height: 100.52%;
            color: #FFFFFF;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                transform: scale(1.05);
            }
        }
        &--link{
            font-weight: bold;
            font-size: 20px;
            line-height: 100.52%;
            color: #FFFFFF;
        }
        &--disk{
            margin: 0 14px 0 11px;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

//**************************
// MEDIA
//**************************
@media screen and (max-width: 1580px) {
    .price{
        &__box{
            &--fieldset{
                padding: 20px 0 50px 40px;
                width: 630px;
            }
        }
    }   
}
@media screen and (max-width: 1300px) {
    .price{
        &__title{
            &--btn{
                font-size: 36px;
            }
        }
        &__box{
            &--item{
                margin-bottom: 40px;
            }
            &--text{
                max-width: 376px;
                min-height: 210px;
            }
            &--subbox{
                max-width: 376px;
            }
            &--fieldset{
                padding: 15px 0 30px 20px;
                width: 450px;
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .price{
        padding: 85px 0;
        &__box{
            margin-top: 65px;
            flex-direction: column;
            align-items: center;
            &--item{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            &--fieldset{
                width: 80%;
            }
        }
        &__title{
            margin-top: 35px;
            flex-direction: column;
            align-items: center;
            &--btn{
                margin-bottom: 25px;
                border: none;
                &--active{
                    border-bottom: 2px solid #FF0000;
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .price{
        &__intro{
            &--title{
                font-size: 16px;
            }
            &--icon{
                margin-right: 7px;
                width: 11px;
                height: 22px;
            }
        }
        &__title{
            &--btn{
                font-size: 20px;
            }
        }
        &__box{
            &--subbox{
                width: 100%;
            }
            &--text{
                min-height: 300px;
                width: 100%;
            }
            &--legend{
                font-size: 18px;
            }
            &--fieldset{
                padding: 15px 15px 15px 15px;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .price{
        &__box{
            &--text{
                height: auto;
            }
        }
    }
}