.result{
    background-color: #FFF;
    overflow: hidden;
    &__cards-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 42px;
    }
    &__card{
        width: 414px;
        height: 206px;
        max-width: 100%;
        max-height: 100%;
        border: 2px solid rgba(193, 193, 193, 0.3);
        box-sizing: border-box;
        padding: 3px 0 37px 0;
        margin-bottom: 20px;
        
    }
    &__number{
        font-size: 100px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        
    }
    &__name{
        font-size: 26px;
        line-height: 100.52%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    &__text{
        width: 1078px;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        margin: 0 auto;
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 79px;
    }
    &__item{
        width: 558px;
        height: 290px;
        max-width: 100%;
        min-height: 100%;
        border: 2px solid rgba(193, 193, 193, 0.3);
        box-sizing: border-box;
        padding: 44px 0 0 22px;
        display: flex;
        margin-bottom: 20px;
        &-img{
            margin-right: 17px;
        }
        &-text{
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: #000000;
            &--bold{
                font-weight: 700;
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .result{
        &__cards-menu{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 42px;
        }
        &__text{
            width: 1078px;
            max-width: 100%;
            font-size: 20px;
        }
        &__menu{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 79px;
        }
    }
}

@media only screen and (max-width: 768px){
    .result{
        &__text{
            width: 500px;
            font-size: 16px;
        }
        
    }
}
@media only screen and (max-width: 520px){
    .result{
        &__cards-menu{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 42px;
        }
        &__card{
            width: 414px;
            height: 206px;
            margin-bottom: 20px;
            
        }
        &__number{
            font-size: 80px;
        }
        &__text{
            width: 400px;
            max-width: 100%;
            font-size: 15px;
        }
        &__menu{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 79px;
        }
        &__item{
            width: 558px;
            height: 100%;
            padding: 44px 0 10px 22px;
            display: flex;
            margin-bottom: 20px;
            &-text{
                font-weight: 400;
                font-size: 16px;
                
            }
        }
    }
}
