.team{
    margin-bottom: 163px;
    &__box{
        max-width: 1723px;
        margin: 0 auto;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        width: 392px;
        margin-bottom: 10px;
    }
    &__imgbox{
        width: 363px;
        height: 594px;
        position: relative;
        cursor: pointer;
        &:hover .team__imghover{
            opacity: 1;
            transform: scale(1);
        }
    }
    &__imghover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(87, 87, 87, 0.79);
        backdrop-filter: blur(33px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        transform: scale(0.5);
        opacity: 0;
        &--text{
            padding: 51px 17px;
            font-weight: 500;
            font-size: 18px;
            line-height: 156.02%;
            color: #FFFFFF;
            border: 2px solid #B1ACAC;
            border-radius: 50%;
        }
    }
    &__img{
        width: 363px;
        height: 594px;
    }
    &__title{
        margin-top: 13px;
        font-weight: bold;
        font-size: 26px;
        line-height: 156.02%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
    }
    &__text{
        font-weight: bold;
        font-size: 26px;
        line-height: 156.02%;
        color: #FFFFFF;
    }
}


//********************
// MEDIA
//********************
@media screen and (max-width: 950px) {
    .team{
        margin-bottom: 60px;
        &__item{
            width: 250px;
            &:last-child{
                display: none;
            }
            &:nth-child(3){
                display: none;
            }
        }
        &__imgbox{
            width: 250px;
            height: 400px;
        }
        &__img{
            width: 250px;
            height: 400px;
        }
        &__title{
            font-size: 16px;
            text-align: center;
        }
        &__text{
            width: 60%;
            margin: 0 auto;
            font-size: 16px;
            text-align: center;
        }
    }
}
@media screen and (max-width: 560px) {
    .team{
        &__box{
            flex-direction: column;
            align-items: center;
        }
    }
}