.team{
    &__modal{
        width: 100%;
        height: 100vh;
        display: none; //flex
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #161616;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        overflow: auto;
        opacity: 0;
        transform: scale(0.3);
        &__active{
            display: flex;
            opacity: 1;
            transform: scale(1);
        }
        &-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &--right{
            width: 653px;
        }
        &-name{
            font-weight: bold;
            font-size: 50px;
            line-height: 156.02%;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
        }
        &-bio{
            font-size: 40px;
            line-height: 140%;
            color: #FFFFFF;
            margin-bottom: 100px;
        }
        &-img{
            width: 490px;
            max-width: 100%;
            height: 790px;
        }
        &-contact{
            font-size: 26px;
            line-height: 140%;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 34px;
        }
    }
    &__icon{
        &--box{
            width: 147px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__open{
        background-color: transparent;
        border: none;
    }
    &__close{
        position: absolute;
        right: 100px;
        top: 30px;
        background-color: transparent;
        border: none;
        &-img{
            cursor: pointer;
        }
    }
    &__close--mobile{
        margin: 50px auto 0;
        display: none;
        width: 152px;
        padding: 14px 50px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100.52%;
    }
}
@media screen and (max-width: 1739px) {
    .team{
        &__modal{
            &--right{
                width: 553px;
            }
            &-img{
                width: 28vw;
                height: 45vw;
            }
        }
    }
}
@media screen and (max-width: 1587px) {
    .team{
        &__modal{
            &--right{
                width: 653px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .team{
        &__modal{
            max-width: 100%;
            &--right{
                width: 453px;
            }
            &-name{
                font-weight: bold;
                font-size: 40px;
                line-height: 156.02%;
            }
            &-bio{
                font-size: 25px;
                margin-bottom: 80px;
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .team{
        &__modal{
            overflow: auto;
            &-wrapper{
                padding: 360px 0 66px;
                flex-direction: column;
                align-items: center;
            }
            &-name{
                text-align: center;
            }
            &-bio{
                margin-bottom: 47px;
                max-width: 100%;
                text-align: center;
            }
            &--right{
                padding:0 10px;
                width: 600px;
                max-width: 100%;
                
            }
            &-img{
                width: 500px;
                height: 700px;
                margin: 0 0 20px;
            }
            &-contact{
                max-width: 100%;
                margin-bottom: 20px;
            }
        }
        &__close--mobile{
            display: block;
            
        }
        &__close{
            display: none;
        }
    }
}
@media screen and (max-width: 600px) {
    .team{
        &__modal{
            &-img{
                width: 300px;
                height: 500px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .team{
        &__modal{
            overflow: auto;
            &-wrapper{
                padding-bottom: 66px;
            }
            &-name{
                font-size: 25px;
            }
            &-bio{
                font-size: 16px;
            }
            &-contact{
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .team{
        &__modal{
            &-wrapper{
                padding-bottom: 66px;
            }
        }
    }
}

